.voir{
	background-color: red;
	width: 50vh;
	height: 200px;
	float: right;
}

.pokemon {
  background-color: rgb(255, 255, 255);
  width:20vh;
  text-align: center;
  position: flex;
  font-size: 1.5em;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 2px;
}